accelerate<=0.33.0
transformers>=4.39.0,<=4.44.2
torch
byted-wandb
dataclasses-json
datasets
evaluate
flash-attn
pandas
safetensors
scipy
scikit-learn==1.5.2
tokenizers
tqdm
nltk
numpy
pytest
sentencepiece
sdmetrics
prdc
xgboost
openai
aioprocessing
tenacity
httpx==0.23.3
matplotlib
seaborn
fire